
* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }

  body {
    background-color: #ffffff;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
  }

  .container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px;
    border-radius: 9px;
    user-select: none;
  }

  #Display-area {
    width: 100%;
    margin: 3vh 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, minmax(40px, auto));
    word-wrap: break-word;
    border-bottom: 1px rgba(128, 128, 128, 0.116) solid;
  }

  #Display-area .currentInput {
    /* display: flex; */
    text-align: right;
    height: 8vh;
    color: white;
    font-size: xx-large;
    line-height: 2;
    word-wrap: break-word;
    font-weight: bold;
  }

  #Display-area .answerScreen {
    text-align: right;
    color: rgba(150, 150, 150, 0.87);
    height: 7px;
    line-height: 3;
    font-size: larger;
  }

  .keypad-btns {
    display: grid;
    grid: repeat(5, 90px) / repeat(4, 130px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

  .keypad-btns button {
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #474b6b;
    color: #fff;
    font-size: x-large;
    font-weight: bold;
  }

  .keypad-btns .fun_btn {
    color: #000;
    background: #00fffc;
    font-weight: bold;
  }

  button:hover {
    opacity: 0.8;
  }

  #clear {
    background: rgb(249, 161, 21);
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: #131313;
      align-items: flex-start;
    }
  }


  /* -- YouTube Link Styles -- */

  #source-link {
    top: 60px;
  }

  #source-link>i {
    color: rgb(94, 106, 210);
  }

  #yt-link {
    top: 10px;
  }

  #yt-link>i {
    color: rgb(219, 31, 106);

  }

  .meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 600ms, border-color 600ms;
    z-index: 10000;
  }

  .meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .meta-link>i,
  .meta-link>span {
    height: 20px;
    line-height: 20px;
  }

  .meta-link>span {
    color: white;
    font-family: "Rubik", sans-serif;
    transition: color 600ms;
  }
